:root {
    color-scheme: light dark;
  }
  
  @media (prefers-color-scheme: dark) {
    body { background: #333 !important; color: white !important;  }
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd !important; color: black !important; }
  }
