:root {
    color-scheme: light dark;
  }
  
  @media (prefers-color-scheme: dark) {
    body { background: #333 !important; color: white !important;  }
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd !important; color: black !important; }
  }
  #calendar { 
    max-width: 900px; 
    margin: auto; 
  }
  /*-----------taille-------------*/
  .w-05{
    width: 5%;
  }
  .w-10{
    width: 10%;
  }
  .w-15{
    width: 15%;
  }
  .w-20{
    width: 20%;
  }
  .w-30{
    width: 30%;
  }
  /*------------------*/
  .h-05{
    height: 05%;
  }
  .h-10{
    height: 10%;
  }
  .h-15{
    height: 15%;
  }
  .h-20{
    height: 20%;
  }
  .h-30{
    height: 30%;
  }

  /*-------------Modal-------------------*/
  .modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
  }
  .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    border-radius: 8px;
  }
  .close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  /* Fleche sortable */
  th.sorted-asc::after {
    content: " ▲";
    font-size: 0.8em;
    color: #bdbdbd;
  }
  
  th.sorted-desc::after {
    content: " ▼";
    font-size: 0.8em;
    color: #bdbdbd;
  }
  /*-----------scroll------------*/
.scroll tbody{
  display: block;
  width: 100%;
  max-height: 78vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.scroll tbody tr, .scroll thead{
  display: table;
  width: 100%;
}
/*-------effect lien slidebar-----*/
.nav-link {
  transition: transform 0.2s ease;
}

.nav-link:hover {
  transform: scale(1.05);
}

#btnTop {
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#btnTop.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
/* Liens du sommaire */
.accordion-body a {
  transition: color 0.2s;
}
.accordion-body a:hover {
  color: #0d6efd;
  text-decoration: underline;
}

/* Astuces */
#astuces .alert-info {
  background-color: #e9f5ff;
  border-left: 4px solid #0d6efd;
}
#astuces li {
  text-indent: 15px; /* petit effet alinéa */
  margin-bottom: 6px;
}

#page-tuto .card {
  border-left: 4px solid #0d6efd; /* bleu bootstrap */
  margin-bottom: 15px;
}
